@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}